body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background: lightslategrey;
    text-align: center;
    height: 98%;
}

p {
    margin-bottom: 2px;
}

button {
    background: lightslategrey;
    color: white;
}

.timeDisplay{
    font-size: 24pt;
}

h1 {
    margin-bottom: 5px;
}

main{
    height: 90%;
}

.italic {
    margin: 0 0 2px 0;
    font-style: italic;
}

.box {
    background: #b9cfe5;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.46);
}

.flexBox {
    display: flex;
    justify-content: center;
}

.timeBox{
    width: 40px;
    margin: 0;
    text-align:center;
}

#dayOfTheWeek, #clock {
    font-weight: bold;
}

footer {
    position:relative;
}

footer span{
    position: absolute;
    bottom:0;
    right:100px;
    color: #b9cfe5;
}

#output{
    width: 270px;
}